<!-- <div class="text-center"> -->
  <div class="card-header color-modal-header">
    <h3>Definición de los tipos de platos</h3>
    <h5 class="card-title">{{tituloBody}}</h5>
  </div>
  <div class="card-title">
    <div *ngIf="!tipoplatos" class="alert alert-info">Esperando carga de imagenes</div> 
    <div *ngIf="tipoplatos?.length==0" class="alert alert-info"> Lista vacía
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
      style="margin-right: 8px" (click) = 'create()'>{{'Crear Tipo' |translate}}</button>
    </div> 
  </div>
  <div class="card-body table-responsive">
    <div *ngFor="let tipoplato of tipoplatos">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image" background-image= "http://localhost:8080/api/empresa/uploads/img/indra3.jpg"></div> -->
          <!-- <img *ngIf="tipoplato?.imgFileName" mat-card-avatar src= "{{host}}/api/empresa/uploads/img/admin/tipos.png"> -->
          <img *ngIf="tipoplato?.imgFileName" mat-card-avatar src= "{{host}}/api/empresa/uploads/img/admin/tipos_peque.png">
      
          <mat-card-title> Imagen asociada al tipo o grupo de platos</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <!-- <img *ngIf="tipoplato?.imgFileName" mat-card-image  
          src="{{host}}/api/empresa/uploads/img/{{tipoplato.imgFileName}}">
       -->
          <img *ngIf="tipoplato?.imgFileName"  class="img-thumbnail"
          src="{{host}}/api/tipoplato/uploads/img/{{tipoplato.imgFileName}}">
      
          
        <mat-card-content>
          <p> {{tipoplato.label | slice:0:29}}...</p>
        </mat-card-content>
        <mat-card-actions>

          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm" 
            style="margin-right: 8px" (click) = 'update(tipoplato)'>{{'Edit' |translate}}</button>
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
            style="margin-right: 8px" (click) = 'create()'>{{'Create' |translate}}</button>
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
          style="margin-right: 8px" (click) = 'delete(tipoplato)'>{{'Delete' |translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div> <!-- card body -->
<!-- </div> -->
