<div class="container-fluid con-scroll">
  <div class="row" *ngIf="menu">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header color-modal-header">
          <h4 class="card-title">Definición de menus</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close(true)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form #variableForm="ngForm">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput class="form-control" name="label" placeholder="nombre o etiqueta del menu"
                    [(ngModel)]="menu.label" #label="ngModel" maxlength="80">
                  <mat-error *ngIf="label.hasError('maxlength')">
                    Debe tener máximo 80 posiciones
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput class="form-control" name="precio" placeholder="Precio"
                    [(ngModel)]="menu.precio" #precio="ngModel" maxlength="8">
                  <mat-error *ngIf="precio.hasError('maxlength')">
                    Debe tener máximo 10 posiciones
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput class="form-control" id="descripcion" name="descripcion" placeholder="descripción"
                    [(ngModel)]="menu.descripcion" #descripcion="ngModel" maxlength="120">
                  <mat-error *ngIf="descripcion.hasError('maxlength')">
                    Debe tener máximo 120 posiciones
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <ul class="alert alert-danger" *ngIf="erroresValidacion?.length > 0">
              <h6>Errores de validación detectados por el backend</h6>
              <li *ngFor="let err of erroresValidacion">
                {{err}}
              </li>
            </ul>
          </form>
        </div>
        <div class="card-footer grupo-botones">
          <button *ngIf="menu.id" mat-raised-button class="margin-right" color="primary"
            (click)='update(menu)' [disabled]="!variableForm.form.valid">update</button>
            
          <button *ngIf="!menu.id" mat-raised-button class="margin-right" color="primary"
            (click)="create(menu)" [disabled]="!variableForm.form.valid">Crear</button>
          <button mat-raised-button color="primary" (click)="activeModal.close(true)">Salir</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-profile">
        <div class="card-body">
          <h4 class="card-title">Selección de imagen</h4>
          <p *ngIf="menu.id" class="card-description">
            <app-upload-foto [fotoActual]=menu.imgFileName [id]=menu.id
              sufijoController="api/menu/uploads/img">
            </app-upload-foto>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
