.con-scroll {
    overflow: scroll;
  }

.corto {
  width: 80px !important;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
