<!-- <div class="text-center"> -->
  <div class="card-header">
    <h3>Definición de menús</h3>
    <h5 class="card-title">{{tituloBody}}</h5>
  </div>
  <div class="card-title">
    <div *ngIf="!menus" class="alert alert-info">Esperando carga de imagenes</div> 
    <div *ngIf="menus?.length==0" class="alert alert-info"> Lista vacía
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
      style="margin-right: 8px" (click) = 'create()'>{{'Crear Menú' |translate}}</button>
    </div> 
  </div>
  <div class="card-body table-responsive">
    <div *ngFor="let menu of menus">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image" background-image= "http://localhost:8080/api/empresa/uploads/img/indra3.jpg"></div> -->
          <!-- <img *ngIf="menu?.imgFileName" mat-card-avatar src= "{{host}}/api/empresa/uploads/img/admin/tipos.png"> -->
          <img *ngIf="menu?.imgFileName" mat-card-avatar src= "{{host}}/api/empresa/uploads/img/admin/menu_peque.png">
      
          <mat-card-title> {{menu.label | slice:0:35}}...</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <!-- <img *ngIf="menu?.imgFileName" mat-card-image  
          src="{{host}}/api/empresa/uploads/img/{{menu.imgFileName}}">
       -->
          <img *ngIf="menu?.imgFileName"  class="img-thumbnail"
          src="{{host}}/api/menu/uploads/img/{{menu.imgFileName}}">
      
          
        <mat-card-content>
          <p>  precio: {{menu.precio}}</p>
          <p>  {{menu.descripcion | slice:0:59}}...</p>
        </mat-card-content>
        <mat-card-actions>

          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm" 
            style="margin-right: 8px" (click) = 'update(menu)'>{{'Edit' |translate}}</button>
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
            style="margin-right: 8px" 
            [routerLink]="['/admin-index/admmenusugerencia', menu.id]">
            {{'Configurar platos' |translate}}
          </button>
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
            style="margin-right: 8px" (click) = 'create()'>{{'Create' |translate}}</button>
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
          style="margin-right: 8px" (click) = 'delete(menu)'>{{'Delete' |translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div> <!-- card body -->
<!-- </div> -->
